* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

body {
  background-color: lemonchiffon;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  margin: 0 auto 5vh;
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
}

#game {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  max-width: 600px;
  max-height: 600px;
  width: 80vw;
  height: 80vw;
  background-color: gold;
  border: 2px solid midnightblue;
}

.grid-unit {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid midnightblue;
  width: calc(100% / 3);
  height: calc(100% / 3);
}

.player-icon {
  width: 66%;
  height: auto;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}

footer > * {
  margin: 0 auto;
  text-align: center;
}