:root {
  --primary: #fdc0c0;
}

* {
  box-sizing: border-box;
  font-family: 'Berkshire Swash', cursive;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  background: #200122; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #6f0000,
    #200122
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #6f0000,
    #200122
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--primary);
}

header {
  font-size: 2em;
  margin: 0 auto 3vh;
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
}

#game {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  max-width: 600px;
  max-height: 600px;
  width: 80vw;
  height: 80vw;
  border: 2px solid var(--primary);
  border-radius: 10px;
  overflow: hidden;
}

.grid-unit {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--primary);
  width: calc(100% / 3);
  height: calc(100% / 3);
}

#game:hover {
  cursor: pointer;
}

.player-icon {
  width: 66%;
  height: auto;
  filter: invert(90%);
  -webkit-filter: invert(90%);
}

#results {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  font-size: 2.5em;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blue(3px);
}

#restart {
  font-size: 0.7em;
  padding: 10px 20px;
  background-color: ivory;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
  outline: 1px solid rgba(255, 255, 255, 0.3);
  outline-offset: 5px;
}

#restart:hover,
#restart:focus {
  outline: 1px solid rgba(255, 255, 255, 1);
  outline-offset: 3px;
}

.hidden {
  display: none !important;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  font-size: 0.8em;
}

footer > * {
  margin: 0 auto;
  text-align: center;
}

a {
  color: var(--primary);
}
